<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}BlaBlaArticle - Лучший генератор статей{% endblock %}</title>

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  {% block stylesheets %}{% endblock %}
  <link href="/css/app.min.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>

<body>

  <div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">BlaBlaArticle</div>
      <div class="list-group list-group-flush">
        <a href="{{ path('app_account_dashboard') }}"                class="list-group-item list-group-item-action {% if path('app_account_dashboard') == app.request.requesturi %}active{% else %}bg-light{% endif %}">Рабочий стол</a>
        <a href="{{ path('app_account_dashboard_create_article') }}" class="list-group-item list-group-item-action {% if path('app_account_dashboard_create_article') == app.request.requesturi %}active{% else %}bg-light{% endif %}">Создать статью</a>
        <a href="{{ path('app_account_dashboard_history') }}"        class="list-group-item list-group-item-action {% if path('app_account_dashboard_history') == app.request.requesturi %}active{% else %}bg-light{% endif %}">История статей</a>
        <a href="{{ path('app_account_dashboard_subscription') }}"   class="list-group-item list-group-item-action {% if path('app_account_dashboard_subscription') == app.request.requesturi %}active{% else %}bg-light{% endif %}">Подписка</a>
        <a href="{{ path('app_account_dashboard_profile') }}"        class="list-group-item list-group-item-action {% if path('app_account_dashboard_profile') == app.request.requesturi %}active{% else %}bg-light{% endif %}">Профиль</a>
        <a href="{{ path('app_account_dashboard_modules') }}"        class="list-group-item list-group-item-action {% if path('app_account_dashboard_modules') == app.request.requesturi %}active{% else %}bg-light{% endif %}">Модули генератора</a>
      </div>
    </div>

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Скрыть меню</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Показать/Скрыть навигацию">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Выйти</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">

        {% block body %}{% endblock %}

      </div>
    </div>

  </div>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/dashboard.js"></script>
  {% block javascripts %}{% endblock %}
  
</body>

</html>
